@import "tailwindcss";

@layer base {
  :root {
    --background: 9 9 14; /* #09090E */
    --foreground: 255 255 255; /* #FFFFFF */
  }
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

.glass-panel {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
